@import 'variables';

html, body {
  padding: 0;
  margin: 0;
}

html {
  background: $background-color;
  font-family: $font;
  font-size: 14px;
  line-height: 1.4em;
  color: $text-color;
  font-weight: normal;
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Maven+Pro', $font;
  font-weight: 700;
}

.logo-type {
  font-family: 'Pacifico', $font;
  font-weight: 400;
}

p {
  font-size: 1.2em;
  line-height: 1.5em;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  margin: 1em 0;
}

.contain {
  max-width: $max-width;
  margin: 0 auto;
}

section.page {
  padding: 2em 0;

  > .title {
    font-size: 30px;
    color: $theme-color;
  }
}

@import 'nav';
@import 'index';


@import url(https://fonts.googleapis.com/css?family=Maven+Pro:700|Pacifico);