{{#if showHeader}}
  <header class="nav-bar">
    <div class="contain">
      <h1 class="logo">
        {{#link-to 'index'}}
          <span class="logo-type">ember</span><em>STL</em>
        {{/link-to}}
      </h1>
      <nav>
        <a href="http://www.meetup.com/STLEmber" target="_blank">Meetups</a>
        {{link-to 'Presentations' 'presentations'}}
        {{link-to 'Jobs' 'jobs'}}
        {{link-to 'Contact' 'contact'}}
      </nav>
    </div>
  </header>
{{/if}}
{{outlet}}
