<div class="page-index">
  <h1 class="logo"><span class="logo-type">ember</span><em>STL</em></h1>
  <nav>
    <a href="http://www.meetup.com/STLEmber" target="_blank">Meetups</a>
    <a href="#">Presentations</a>
    <a href="#">Jobs</a>
    <a href="#">Resources</a>
  </nav>
  <div class="clouds">
    <img src="/assets/images/cloud1.png" class="cloud1" />
    <img src="/assets/images/cloud2.png" class="cloud2" />
    <img src="/assets/images/cloud3.png" class="cloud3" />
    <img src="/assets/images/cloud4.png" class="cloud4" />
  </div>
</div>